body {
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	display: grid;
	background: #eff2f1;
	overflow: hidden;
}

.container {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0px;
}

.container .center {
	display: grid;
}

.container .center .title {
	font-family: 'Telex', sans-serif;
	font-size: 128px;
	color: #0b79d7;
}

.tags {
	display: inline-flex;
	margin-top: 2rem;
	gap: 2rem;
}

.tag img:hover {
	display: inline-block;
	cursor: pointer;
}

.container .center .desc {
	display: inline;
	font-size: 32px;
	padding-left: 0.5rem;
}
